@import-normalize;

/* ===== GLOBAL CSS ===== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  -webkit-scrollbar: none; /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html,
body {
  height: 100vh;
  width: 100%;
  font-size: 20px;
  font-family: 'Ubuntu', 'Roboto', sans-serif;
  display: inline-block;
  text-rendering: optimizeSpeed;
}
/* ===== texto ===== */
h1 {
  color: #fca728;
  font-weight: bolder;
  text-align: center;
}
/* ===== navbar ===== */
.nav-link:hover {
  color: #fca728 !important;
}
/* ===== button ===== */
.btn {
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  background-color: #fca728 !important;
  color: #000000 !important;
  margin: 5px !important;
  padding: 3px 10px 3px 10px !important;
}
.btn:hover {
  background-color: #c9c5c0 !important;
}
.btn-idioma:link,
.btn-idioma:visited,
.btn-idioma:hover,
.btn-idioma:active {
  background-color: #fca728 !important;
}
/* *************************************** */
/* ===== MODAL CONTENT ===== */
/* ===== modal login/signup ===== */
.modal-logo img {
  width: 200px;
  height: auto;
}
.form-group {
  margin: 15px;
}
.modal-body input {
  width: 250px;
  height: 38px;
  font-size: 17px;
  background: #d1c5c540 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  opacity: 1;
  border: 0;
  padding: 10px;
  margin: 5px;
  outline: none;
}
.modal-body select {
  width: 250px;
  height: 38px;
  font-size: 17px;
  background-color: #d1c5c540;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  opacity: 1;
  border: 0;
}
.modal-body h4 {
  color: #fca728;
  text-align: center;
}
.enlace-form {
  text-align: center;
}
.boton-form {
  text-align: center;
  margin-top: 10px;
}
.pointer {
  cursor: pointer;
}
/* ===== modal noparte ===== */
.modal-title {
  margin-bottom: 20px;
}
.que-hacer-button {
  height: 120px;
  width: 150px;
  border-radius: 20px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.botones {
  text-align: center;
}
.icon-video {
  margin-top: 10px;
}
/* *************************************** */
/* ===== HOME ===== */
/* ===== header ===== */
header {
  position: relative;
}
.header-contenido {
  text-align: center;
}
.click-link {
  padding-top: 20px;
}
/* ===== form ===== */
header input {
  background: #a79f9f40 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  opacity: 1;
  border: 0;
  outline: none;
}
/* ===== link modal ===== */
.button-link {
  color: #fca728;
  border: none;
  background-color: transparent;
  outline: none;
}
.button-link:focus {
  border: none;
  background-color: transparent;
  outline: none;
}
.modal-title {
  color: #fca728;
}
.tutorial-text:hover {
  text-decoration: #000000 underline;
}
/* *************************************** */
/* ===== CONTACTO ===== */
.contacto-contenido .row {
  text-align: center;
}
.contacto-texto {
  text-align: justify;
  /* padding-bottom: 40px; */
}
.contacto-texto1 {
  text-align: justify;
  padding-bottom: 40px;
}
.contacto-grupo {
  margin-bottom: 40px !important;
}
.contacto-grupo img {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
}
.contacto-contenido h4 {
  padding-top: 10px;
  font-size: 25px;
}
.contacto-email {
  text-decoration: underline;
  font-size: 18px;
}
.contacto-telefono {
  color: black;
  font-size: 18px;
}
/* *************************************** */
/* ===== COTIZACION ===== */
.cotizacion-title h1 {
  padding-top: 20px;
}
.cotizacion-title p {
  color: #fca728;
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
}
.nota {
  font-size: 10px;
  padding: 15px 5px 15px 25px;
  border-radius: 20px;
}
.nota span {
  font-size: 15px;
}
.nota-border {
  border-radius: 10px;
}
.beneficios {
  border-radius: 15px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.titulo-jumbo {
  font-size: 25px;
  color: #fca728;
  text-align: center;
  margin-top: 30px;
}
.beneficios-jumbo {
  color: whitesmoke;
  text-align: left;
  font-size: 12px;
  margin: 5px !important;
}
.beneficios-jumbo:last-child {
  margin-bottom: 30px !important;
}
.btn-comprar {
  color: whitesmoke !important;
  font-size: 25px !important;
  width: 159px;
}
.table-responsive {
  border-radius: 15px !important;
  text-align: center !important;
}
.title-cells {
  vertical-align: middle !important;
}
/* *************************************** */
/* ===== OFRECEMOS ===== */
.ofrecemos-contenido h4 {
  text-align: left;
}
.ofrecemos-contenido p {
  font-size: 15px;
}
.ofrecemos-contenido .row {
  text-align: center;
}
.ofrecemos-contenido span {
  color: #fca728;
}
.ofrecemos-opciones {
  margin-bottom: 40px !important;
}
.ofrecemos-icono {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ofrecemos-texto {
  text-align: left;
}
/* *************************************** */
/* ===== TUTORIAL ===== */
.tutorial .row {
  margin-bottom: 20px !important;
}
.tutorial-subtitulo {
  margin-bottom: 70px;
}
.tutorial p {
  font-size: 20px;
}
.tutorial-contenido span {
  color: #fca728;
  font-size: 15px;
}
.tutorial-enlace {
  color: #fca728;
}
.tutorial-enlace:hover {
  text-decoration: #fca728 underline;
}
.logo-video {
  float: right;
  padding-right: 40px;
}
.texto-logo-tutorial {
  float: left;
  padding-left: 40px;
}
.tutorial-video {
  display: flex;
  float: inline-start;
}
.tutorial-video-texto span {
  font-size: 120px;
}
/* *************************************** */
/* ===== BUSCAMOS ===== */
.description {
  width: 250px !important;
  background: #d1c5c540 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px !important;
  opacity: 1;
  border: 0;
}
/* *************************************** */
/* ===== MODAL ===== */
.site-modal {
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  border-radius: 20px;
}
.site-modal .close {
  color: #fca728;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 23px;
  padding: 4px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* ===== PAIS ===== */
.pais-idioma {
  margin-top: 15px;
}
.pais-bandera {
  height: 25px;
  width: auto;
  margin-right: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
}
.pais-texto {
  font-size: 20px;
}
/* ==================== RESPONSIVE CONTACTO ==================== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .contacto-title h1 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .contacto-contenido .col-md {
    padding-bottom: 30px;
  }
}
/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .contacto-title h1 {
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}
/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contacto-title h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}
/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .contacto-title h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}
/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .contacto-title h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}
/* ==================== RESPONSIVE COTIZACION ==================== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .btn-comprar {
    font-size: 15px !important;
    width: 80px;
  }
}
/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .btn-comprar {
    font-size: 18px !important;
    width: 100px;
  }
}
/* ==================== RESPONSIVE HACEMOS CSS ==================== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .hacemos-titulo h1 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .hacemos-texto {
    font-size: 12px;
  }
  .dax-video {
    margin-bottom: 40px;
  }
}
/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .hacemos-titulo h1 {
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .hacemos-texto {
    font-size: 16px;
  }
  .dax-video {
    margin-top: 40px;
  }
}
/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hacemos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .hacemos-texto {
    font-size: 18px;
  }
}
/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hacemos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .hacemos-texto {
    font-size: 20px;
    padding-right: 20px;
    margin-right: 20px;
  }
}
/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hacemos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .hacemos-texto {
    font-size: 20px;
    padding: 40px;
  }
}
/* ==================== RESPONSIVE HOME =================== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .pais-bandera {
    height: 20px;
    width: auto;
    margin-right: 3px;
  }
  .pais-texto {
    font-size: 15px;
  }
  .btn-idioma {
    font-size: 13px !important;
    height: 32px !important;
  }
  .logo-centro {
    height: auto;
    width: 250px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  header label {
    font-size: 18px;
    padding-bottom: 0px;
    margin-right: 10px;
  }
  header input {
    width: 230px;
    height: 35px;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .btn-buscar {
    font-size: 16px !important;
    margin-bottom: 15px !important;
  }
  .button-link {
    font-size: 12px;
    text-decoration: #fca728 underline;
    margin-top: 20px;
  }
  .logo-tutorial {
    margin-top: 30px;
    height: 35px;
    width: auto;
  }
  .tutorial-text {
    font-size: 12px;
    color: #000000;
  }
}
/* SMALL devices (old iPhones, 480px AND UP) */
@media only screen and (min-width: 480px) {
  .logo-centro {
    height: auto;
    width: 250px;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  header label {
    font-size: 16px;
    padding-bottom: 0px;
    margin-right: 10px;
  }
  header input {
    width: 230px;
    height: 35px;
    font-size: 14px;
    margin-right: 5px;
    padding-left: 10px;
  }
  .btn-buscar {
    font-size: 16px !important;
    margin-bottom: 10px !important;
  }
  .button-link {
    font-size: 12px;
    text-decoration: #fca728 underline;
    margin-left: 20px;
  }
  .logo-tutorial {
    margin-top: 40px;
    height: 35px;
    width: auto;
  }
  .tutorial-text {
    font-size: 12px;
    color: #000000;
  }
}
/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo-centro {
    height: auto;
    width: 300px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  header label {
    font-size: 20px;
    padding-bottom: 2px;
    margin-right: 10px;
  }
  header input {
    width: 350px;
    height: 40px;
    font-size: 18px;
    /* color: black; */
    margin-right: 5px;
  }
  .btn-buscar {
    font-size: 22px !important;
    margin-bottom: 10px !important;
  }
  .button-link {
    font-size: 13px;
    text-decoration: #fca728 underline;
    margin-left: 20px;
  }
  .logo-tutorial {
    margin-top: 50px;
    height: 40px;
    width: auto;
  }
  .tutorial-text {
    font-size: 15px;
    color: #000000;
  }
}
/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo-centro {
    height: auto;
    width: 329px;
    margin-top: 100px;
    margin-bottom: 40px;
  }
  header label {
    font-size: 24px;
    padding-bottom: 2px;
    margin-right: 10px;
  }
  header input {
    width: 350px;
    height: 40px;
    font-size: 20px;
    /* color: black; */
    margin-right: 5px;
  }
  .btn-buscar {
    font-size: 22px !important;
    margin-bottom: 10px !important;
  }
  .button-link {
    font-size: 15px;
    text-decoration: #fca728 underline;
    margin-left: 20px;
  }
  .logo-tutorial {
    margin-top: 60px;
    height: 45px;
    width: auto;
  }
  .tutorial-text {
    font-size: 18px;
    color: #000000;
  }
}
/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo-centro {
    height: auto;
    width: 329px;
    margin-top: 100px;
    margin-bottom: 40px;
  }
  header label {
    font-size: 24px;
    padding-bottom: 2px;
    margin-right: 10px;
  }
  header input {
    width: 350px;
    height: 40px;
    font-size: 20px;
    /* color: black; */
    margin-right: 5px;
  }
  .btn-buscar {
    font-size: 22px !important;
    margin-bottom: 10px !important;
  }
  .button-link {
    font-size: 15px;
    text-decoration: #fca728 underline;
    margin-left: 20px;
  }
  .logo-tutorial {
    margin-top: 60px;
    height: 45px;
    width: auto;
  }
  .tutorial-text {
    font-size: 18px;
    color: #000000;
  }
}
/* ========== RESPONSIVE OFRECEMOS ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .ofrecemos-titulo h1 {
    font-size: 40px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .ofrecemos-contenido .col-sm {
    padding-bottom: 30px;
  }
  .ofrecemos-opciones {
    margin-bottom: 0px !important;
  }
  .ofrecemos-contenido .col {
    padding-bottom: 30px;
  }
}
/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .ofrecemos-titulo h1 {
    font-size: 50px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    margin: 40px 0px 60px 0px;
  }
  .ofrecemos-contenido .col {
    padding-bottom: 30px;
  }
}
/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ofrecemos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    margin: 40px 0px 100px 0px;
  }
}
/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ofrecemos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    margin: 40px 0px 100px 0px;
  }
}
/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .ofrecemos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    margin: 40px 0px 100px 0px;
  }
}
/* ==================== RESPONSIVE SOMOS ==================== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .empresa-titulo h1 {
    font-size: 40px;
    padding-top: 20px;
  }
  .empresa-contenido h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .empresa-texto {
    font-size: 13px;
    padding-top: 20px;
  }
}
/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .empresa-titulo h1 {
    font-size: 50px;
    padding-top: 20px;
  }
  .empresa-contenido h2 {
    font-size: 30px;
  }
  .empresa-texto {
    font-size: 18px;
    padding-top: 80px;
  }
}
/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .empresa-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .empresa-contenido h2 {
    font-size: 35px;
  }
  .empresa-texto {
    font-size: 20px;
    padding-top: 80px;
  }
}
/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .empresa-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .empresa-contenido h2 {
    font-size: 40px;
  }
  .empresa-texto {
    font-size: 20px;
    padding-top: 80px;
  }
}
/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .empresa-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .empresa-texto h2 {
    font-size: 50px;
    color: #5f5959;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .empresa-texto {
    font-size: 20px;
    padding-top: 80px;
  }
}
/* ==================== RESPONSIVE TUTORIAL ==================== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .tutorial-titulo h1 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .tutorial-subtitle {
    padding-bottom: 20px;
  }
  .tutorial-contenido .col-sm {
    padding-bottom: 40px;
  }
  .logo-video {
    height: 35px;
    width: auto;
  }
}
/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .tutorial-titulo h1 {
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 40px;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tutorial-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}
/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tutorial-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 60px;
  }
}
/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tutorial-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 60px;
  }
  .tutorial-subtitulo {
    margin-bottom: 50px;
  }
}
/* ==================== RESPONSIVE NAVBAR CSS ==================== */
/* Extra small devices (less than 480px) */
@media only screen and (max-width: 480px) {
  nav img {
    height: 50px;
    width: auto;
  }
  .nav-link {
    font-size: 20px !important;
    margin-right: 25px !important;
  }
  .btn {
    font-size: 20px !important;
  }
}
/* Small devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  nav img {
    height: 50px;
    width: auto;
  }
  .nav-link {
    font-size: 20px !important;
    margin-right: 25px !important;
  }
  .btn {
    font-size: 20px !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav img {
    height: 50px;
    width: auto;
  }
  .nav-link {
    font-size: 20px !important;
    margin-right: 25px !important;
  }
  .btn {
    font-size: 20px !important;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav img {
    height: 50px;
    width: auto;
  }
  .nav-link {
    font-size: 18px !important;
    margin-right: 20px !important;
  }
  .btn {
    font-size: 18px !important;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav img {
    height: 50px;
    width: auto;
  }
  .nav-link {
    font-size: 20px !important;
    margin-right: 25px !important;
  }
  .btn {
    font-size: 20px !important;
  }
}
